.logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.avata {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.user-profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 30px;
}

.dt-button-collection {
    margin-top: 0px !important;
}

div[role="menu"]{
    box-shadow: 0 0.25rem 1rem rgba(15, 20, 34, 0.55) !important;
}

.position-relative {
    width: 100%;
}

.banner-img{
    width: 100% !important; 
    height: 100% !important;
    object-fit: cover;
}

.span-table th, .span-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* CSS để căn giữa ô với rowspan */
.span-table  th[rowspan] {
    vertical-align: middle;
}
.span-table th[colspan] {
    text-align: center !important;
}